.off-menu-container{
    width: 30rem;
    background-color: #333;
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #2f2f2f;
    position: fixed;
    top: 60px;
    z-index: 1000;
    right: -300px;
    transition: all .2s ease-out;
    overflow: auto !important;
    height: calc(100vh - 60px);
    // display: none;
    // @include respond(tab-port){
    //     display: block;
    // }
    .menu>.menu-item>a{
        font-size: 1.5rem;
    }
    .menu>.current-menu-item>a{
        background-color: #2f2f2f;
    }
    ul{
        display: block;
        border-bottom: 1px solid #3c3c3c;
        li{
            display: block;
            border-top: 1px solid #3c3c3c;
            border-bottom: 1px solid #2f2f2f;
            a{
                border: none;
                display: block;
                text-decoration: none;
                padding: 1rem 2rem .7rem !important;
                color: #ccc;
                font-size: 1.2rem;
            }
        }
    }
    .submenu{
        border-left: 1px solid #2f2f2f;
        margin-left: 3em;
        border-bottom: none;
        border-top: 1px solid #2f2f2f;
    }
}
.header {
    background-color: #fff;
    border-top: 7px solid #2c3746;
    padding-top: 1.2rem;
    transition: all .2s ease-out;
    .site-branding{
        @include respond(tab-port){
            display: none;
        }
        &__heading{
            a{
                position: relative;
                display: block;
                &:before{
                    background-image: url(/img/logo_sea_fr_1812.png);
                    display: block;
                    position: absolute;
                    content: "";
                    width: 4.8rem;
                    height: 4.6rem;
                    top: 0px;
                    left: 9.7rem;
                }
                &:after{
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(/img/logo_sea_1812.png);
                    height: 9.8rem;
                    width: 8rem;
                    bottom: -1.8rem;
                    left: -6.3rem;
                }
            }
        }
    }

    &__container{
        width: auto;
        max-width: 120rem;
        padding-left: 0;
        padding-right: 0;
        @include respond(tab-land){
            width:100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        @include respond(tab-port){
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__content{
        display: table;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        max-width: 100%;;
    }
    &__logo-box {
        display: table-cell;
        float:none;
        padding-left: 0;
        padding-right: 0;
        vertical-align: top;
        @include respond(tab-land){
            position: absolute;

        }
    }

    &__nav-wrapper{
        display: table-cell;
        padding-left: 0;
        padding-right: 0;
        vertical-align: top;
        float:none;
        @include respond(tab-land){
            width: 100% !important;
            display: block;
        }
        &-inner{
            float: right;
            margin-top: 1rem;
            @include respond(tab-land){
                width: 100%;
            }
            @include respond(tab-port){
                padding-top: 4rem;
                background: #f3fcfd;
                border-bottom: 1px solid #e6e6e6;
                width: 100%;
            }
            .prime-area{
                margin-left: 1.5rem;
                float: right;
                @include respond(tab-port){
                    display: none;
                }
            }
            .lang{
                @include respond(tab-port){
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .phone{
                min-width: 18.5rem;
                text-align: right;
                margin-left: 3rem;
                float: right;
                @include respond(tab-port){
                    float: left;
                    margin: 0;
                    text-align: left;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                
                p{
                    margin-bottom: 7px;
                }
                .tx11{
                    font-size: 85%;
                    line-height: 1.4em;
                    @include respond(tab-port){
                        display: none;
                    }
                }
                .num{
                    font-size: 2.6rem;
                    font-weight: bold;
                    @include respond(tab-port){
                        font-size: 1.6rem !important;
                        color: #337ab7;
                    }
                }
            }
        }

    }

    &__global-nav{
        float: right;
        font-size: 1.5rem;
        @include respond(tab-land){
            float:none;
            clear: both;
            padding-top: 2rem;
        }
        @include respond(tab-port){
            display: none;

        }
    }
    &__menu{
        float:right;
        margin:0;
        padding: 0;
        list-style: none;
        &-item{
            margin:0;
            padding:0;
            float: left;
            position: relative;
            a{
                color: #000;
                padding: 10px 12px;
                padding-top: 2px;
                display: block;

            }
            &--2-line{
                line-height: 1.2em;
                margin-top: -1em;
                text-align: center;
            }
            &:last-child a{
                padding-right: 0;
            }
            &--current{
                & > a span{
                    position:relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: -1.4rem;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }
    &__sub-nav{
        @media(min-width: 75em){
        min-width: 80.5rem;
        }
        @include respond(tab-land){
            font-size:1.2rem;
            width: auto !important;
        }
        @include respond(tab-port){
            display: none;
        }
        clear:both;
        border-top: 1px solid #e6e6e6;
        ul{
            margin: 0;
            padding: 0;
            float: right;
            list-style: none;
            li{
                padding: 15px 0px;
                letter-spacing: -.02em;
                float: left;
                a{
                    color: #000;
                    padding: 0 5px;
                    display: inline-block;
                    &:hover{
                        text-decoration: underline;
                    }
                    @include respond(tab-land){
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    &-fix__gnav{
        background: rgba(255,255,255,.85);
        border-bottom: 1px solid #e6e6e6;
        height:5rem;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 100;
        display:none;
        @include respond(tab-land){
            display: none !important;
        }
        @include respond(tab-port){
            display: block !important;
            height: 5.9rem;
            background: #fff;
        }
        &-inner{
            height: 100%;
            width: 90%;
            @media(min-width: 64em){
                min-width: 64em;
            }
            margin: auto;
            display:flex;
            justify-content: space-between;
            @include respond(tab-port){
                // display: table;
                height: 5.9rem;
                width: 100%;
            }
            .logo{
                a{
                    display: block;
                    height: 100%;
                    .helper{
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }
                    img{
                        vertical-align: middle;
                        max-width: 100%;
                    }
                }
                @include respond(tab-port){
                    padding:0 10px;
                }
            }
            .nav{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                .responsive-btn{
                    background: #000;
                    font-size: 2.4rem;
                    width: 5.9rem;
                    padding:0;
                    // padding-left: 4px;
                    line-height: 5.9rem;
                    color: #fff;
                    display: none;
                    height: 100%;
                    @include respond(tab-port){
                        display: inline-block;
                        min-width: 35px;
                    }
                    cursor: pointer;
                    .bar1, .bar2, .bar3{
                        width: 30px;
                        height: 3px;
                        background: #fff;
                        margin: 4px 0;
                        transition: all .4s;
                        margin-left: auto;
                        margin-right: auto;
                        transform: translateY(10px);
                        transform-origin: top left;
                    }
                    .bar2{
                        height: 4px;
                    }
                    .text{
                        font-size: 10px;
                        text-align: center;
                        line-height: 30px;
                    }
                }
                &>a{
                    height: 5rem;
                    margin-left: 1.5rem;
                    border-radius: 0;
                    margin-bottom: -1px;
                    font-size: 1.2rem;
                    @include respond(tab-port){
                        height: 5.9rem;
                        margin-bottom: 0px;
                        padding: 0 2rem;
                        line-height: 5.9rem;
                        background: #39c7db;
                        font-weight: bold;
                    }
                }
                .phone{
                    min-width: 18.5rem;
                    text-align: right;
                    margin-left: 3rem;
                    float: right;
                    @include respond(tab-port){
                        display: none;
                    }
                
                    p{
                        margin-bottom: 7px;
                    }
                    .tx11{
                        font-size: 85%;
                        line-height: 1.4em;
                    }
                    .num{
                        font-size: 2.6rem;
                        font-weight: bold;
                    }
                }
                .phone{
                    .num{
                        font-size: 2rem;
                    }
                }
                ul{
                    list-style: none;
                    @include respond(tab-port){
                        display: none;
                    }
                    li{
                        display: inline-block;
                        padding: 5px 5px;
                        a{
                            color: #000;
                            cursor: pointer;
                            &:hover{
                                color:#23527c;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.lang{
    text-align: right;
    font-size: 1.1rem;
    a{
        padding: 3px;
        color: #000;
    }
    a.current{
        text-decoration: underline;
    }
}