body {
    font-family: "Lato", sans-serif;
    // font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8em;
    color: $color-grey-dark-3;
    letter-spacing: .05em;
    font-weight:500;
}
a{
    text-decoration: none;
    color: #337ab7;
}