.hidden-md{
    @include respond(desktop) {
        display: none;
    }
}
.change {
    .bar1{
        // transform:rotate(-45deg) translateY(10px) !important;
        transform: translateY(28px) rotate(-45deg) !important;
    }
    .bar2{
        opacity: 0;
    }
    .bar3{
        transform:translateY(-8px) rotate(45deg) !important;
    }
}
body.open{
    overflow: hidden;
    .off-menu-container{
        transform: translate(-300px, 0);
    }
    .header{
        .header__container{
            transform: translate(-300px, 0);
        }
    }
    main{
        transform: translate(-300px, 0);
    }
    footer{
        transform: translate(-300px, 0);
    }
}
main{
    transition: all .2s ease-out;
}